<section class="hero" id="hero" style="background:url('./../../../assets/bg1.jpg') center no-repeat;background-size: cover;height: 80vh;">
    <div class="container">
        <br><br>
        <h2 class="sub-headline">
            <span class="first-letter">O</span>ur moments
        </h2>
        <h1 class="headline">Coffee Proffer</h1>
        <div class="headline-description">
            <div class="seprator">
                <!-- <div class="separator">
                    <div class="line line-left"></div>
                    <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                    <div class="line line-right"></div>

                </div> -->
                <div class="single-animation">
                    <h5>Our moments in our whole place share your moment with us and see it !!</h5>
                    <!-- <a href="" class="btn cta-btn">Start Now</a> -->
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Header-->
<section>
  <div class="container content">
  <div class="gallery">
      <a href="./../../../assets/cup9.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/cup9.jpg" class="rounded" ></a>
      <a href="./../../../assets/cup8.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/cup8.jpg" class="rounded" ></a>
      <a href="./../../../assets/g2.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g2.jpg" class="rounded" ></a>
      <a href="./../../../assets/g7.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g7.jpg" class="rounded" ></a>
      <a href="./../../../assets/t1.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/t1.jpg" class="rounded" ></a>
      <a href="./../../../assets/g8.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g8.jpg" class="rounded"></a>
      <a href="./../../../assets/g9.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g9.jpg" class="rounded" ></a>
      <a href="./../../../assets/g15.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g15.jpg" class="rounded" ></a>
      <a href="./../../../assets/g6.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g6.jpg" class="rounded" ></a>
      <a href="./../../../assets/g16.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g16.jpg" class="rounded" ></a>
      <a href="./../../../assets/g17.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g17.jpg" class="rounded" ></a>
      <a href="./../../../assets/g18.jpg" data-lightbox="mygallery" data-title="Our Moments"><img src="./../../../assets/g18.jpg" class="rounded" ></a>

  </div>
  </div>
</section>
