<header>
    <div class="container">
        <nav class="nav ">
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <img class="logo" src="./../../../assets/logo.png">
            <!-- <a href="#" class="logo"><img src="logo.png" alt=""></a> -->
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shope Coffee</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="#">Our Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Gallary">Gallary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About Us</a>
                </li>
            </ul>

        </nav>
    </div>
</header>
<!-- header_ends -->
<router-outlet></router-outlet>